<div data-ng-include="'app/layout/app-header.html'" ng-controller="HeaderController as vm"></div>

<section ui-view=""></section>

<div data-ng-include="'app/layout/app-footer.html'" ng-controller="FooterController as vm"></div>

<script type="text/javascript">
    $('body').removeClass('auth-page');
</script>


<!--<script src="https://www.gstatic.com/firebasejs/4.5.2/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyD1NNv6unTGmyCb8ESkoA_Z3Qxh1qZIaTA",
        authDomain: "o2o-dev.firebaseapp.com",
        databaseURL: "https://o2o-dev.firebaseio.com",
        projectId: "o2o-dev",
        storageBucket: "o2o-dev.appspot.com",
        messagingSenderId: "174807202396"
    };
    firebase.initializeApp(config);
</script>-->