<header>

    <div class="top-bar">
        <div class="container">
            <div class="col-sm-12">
                <ul class="list-inline pull-right">
                    <!--<li>
                        Welcome, Admin Kiosk
                    </li>-->
                    <li>
                        <a ui-sref="products">Order</a>
                    </li>
                    <li>
                        <a href="javascript:;">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <div class="col-sm-2">
                <a ui-sref="home">
                    SHOP NAME
                </a>
            </div>
            <div class="col-sm-8">
                <form ng-submit="vm.searchProduct(vm.keyword)">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Cari produk" ng-model="vm.keyword" />
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">CARI</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-2 text-right">
                <ul class="list-inline">
                    <li>
                        <a ui-sref="notification"
                           class="icon-wrapper">
                            <span class="icon">
                                <i class="fa fa-bell-o"></i>
                            </span>
                        </a>
                    </li>
                    <li class="dropdown" ng-class="{ 'open': vm.cartOpen }">
                        <a class="icon-wrapper" href="javascript:;"
                           ng-click="vm.cartOpen = !vm.cartOpen">
                            <span class="icon">
                                <i class="fa fa-shopping-bag"></i>
                            </span>
                            <span id="total-items" class="number">{{ vm.cartItems.length }}</span>
                        </a>

                        <div class="dropdown-menu pull-right cart-item-menu">
                            <ul>
                                <li ng-repeat="item in vm.cartItems"
                                    class="list-cart-item-compact">

                                    <a class="top-right" href="javascript:;"
                                       ng-click="vm.removeOrderItem(item)">
                                        <i class="fa fa-times"></i>
                                    </a>

                                    <div class="flex-1">
                                        <div class="image-wrapper">
                                            <img ng-src="item.Image || 'statics/images/phone-placeholder.png'"
                                                 alt="{{ item.Name }}"
                                                 title="{{ item.Name }}"
                                                 class="img-responsive" />
                                        </div>
                                    </div>
                                    <div class="flex-3">
                                        <div class="description-wrapper">
                                            <span class="name">{{ item.Name }}</span><br />
                                            <span class="price">{{ item.Price | currency: 'Rp. ' }}</span>

                                            <input type="text" class="quantity input-sm form-control"
                                                   ng-model="item.Quantity"
                                                   style="width: 60px; margin-top: 1em;" />
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <div class="footer">
                                <a class="btn btn-block btn-primary" ui-sref="checkout">CHECKOUT</a>
                            </div>
                        </div>
                    </li>
                </ul>


            </div>
        </div>
    </div>

    <div class="bottom-bar">
        <div class="container">
            <div class="col-sm-9 col-sm-offset-3">
                <ul class="list-inline">
                    <!--<li ng-repeat="category in vm.categories">
                        <a href="javascript:;">{{ category.name }}</a>
                    </li>-->
                    <li ng-repeat="brand in vm.brands">
                        <a href="javascript:;"
                           ui-sref="search({ keyword: vm.keyword, brand: brand.Name })">
                            {{ brand.Name }}
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

</header>