header {
    /*position: fixed;*/
    background: #fff;
    z-index: 999;
    width: 100%;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    /*border-bottom: 2px solid #ddd;*/
    /*height: 145px;*/
}

    header .top-bar,
    header .content,
    header .bottom-bar {
        clear: both;
        display: block;
    }

        header .top-bar ul,
        header .bottom-bar ul {
            margin-bottom: 0;
        }

    header .top-bar {
        color: #fff;
        background: #05d0a1;
        padding: .5em 0em;
        font-size: 1em;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    }

        header .top-bar ul > li {
            margin: auto 1em;
        }

            header .top-bar ul > li:first-child {
                margin-left: 0;
            }

            header .top-bar ul > li:last-child {
                margin-right: 0;
            }

        header .top-bar a {
            color: #fff;
            font-weight: 700;
            font-family: Calibri, sans-serif;
            text-transform: uppercase;
        }

            header .top-bar a:hover,
            header .top-bar a:focus {
                color: #fff;
                text-decoration: underline;
            }


    header .content {
        padding: 2em 0em;
        line-height: 3em;
    }

        header .content .form-control,
        header .content .btn {
            height: 3em;
        }

        header .content .btn {
            padding-left: 1.5em;
            padding-right: 1.5em;
        }

        header .content .form-control {
            box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
            border: none;
        }

    header .icon-wrapper {
        position: relative;
        display: block;
    }

        header .icon-wrapper .icon {
            font-size: 2em;
        }

        header .icon-wrapper .number {
            position: absolute;
            background-color: #fd2e5c;
            bottom: 0;
            right: -1em;
            width: 1.5em;
            height: 1.5em;
            line-height: 1.5em;
            border-radius: 50%;
            text-align: center;
            color: #fff;
        }

    header .bottom-bar {
        border-top: 1px solid #eee;
    }

        header .bottom-bar li {
            border-top: 3px solid transparent;
            margin-left: .5em;
            margin-right: .5em;
            padding: .5em .25em;
            cursor: pointer;
        }

            header .bottom-bar li a {
                color: #b0b0b0;
            }

            header .bottom-bar li.active,
            header .bottom-bar li:hover {
                border-top-color: #05D0A1;
            }

                header .bottom-bar li.active a,
                header .bottom-bar li:hover a {
                    color: #000;
                }

.user-menu {
    background: #fff;
    border-radius: 0;
    border: 1px solid #eee;
    width: 280px;
    padding: 0px;
    color: #222;
}

    .user-menu .user-header {
        background-color: #05d0a1;
        color: #fff;
        padding: 15px;
        text-align: center;
    }

        .user-menu .user-header .username {
            margin: 15px auto;
            font-size: 18px;
        }

        .user-menu .user-header .wallet-balance {
            font-size: 14px;
        }

    .user-menu .user-footer {
        background: #fbfbfb;
        border-top: 1px solid #ddd;
        padding: 15px;
    }

        .user-menu .user-footer a.btn.btn-default {
            color: #666;
            box-shadow: none;
            border: 1px solid #ddd;
            border-radius: 0px;
            font-weight: 400;
        }

            .user-menu .user-footer a.btn.btn-default:hover,
            .user-menu .user-footer a.btn.btn-default:focus,
            .user-menu .user-footer a.btn.btn-default:active:focus,
            .user-menu .user-footer a.btn.btn-default.active:focus {
                text-decoration: none;
                outline: none;
            }


.bottom-bar .list-menu {
    display: flex;
    overflow-x: auto;
    line-height: 3em;
    /*justify-content: center;*/
}

    .bottom-bar .list-menu > .item {
        flex: 0;
        text-align: center;
        white-space: nowrap;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

        .bottom-bar .list-menu > .item:hover,
        .bottom-bar .list-menu > .item:active,
        .bottom-bar .list-menu > .item:focus,
        .bottom-bar .list-menu > .item.active {
            background: #05D0A1;
            color: #fff;
        }


.notification-item-menu {
    width: 380px;
    padding: 0;
    border-radius: 0;
}

    .notification-item-menu ul {
        list-style: none;
        padding-left: 0;
        max-height: 320px;
        overflow-y: auto;
    }

        .notification-item-menu ul > li {
            border-bottom: 1px solid #ddd;
            display: block;
            position: relative;
            line-height: 1.5em;
            padding: 1em 3.5em 1em 2em;
            cursor: pointer;
        }

            .notification-item-menu ul > li .fa {
                position: absolute;
                right: 1em;
                top: 50%;
                transform: translateY(-50%);
                font-size: 1.5em;
            }

            .notification-item-menu ul > li:hover {
                background: #f6f6f6;
            }

    .notification-item-menu .footer {
        border-top: 1px solid #ddd;
    }

        .notification-item-menu .footer a {
            display: block;
        }

.cart-item-menu {
    width: 320px;
    padding: 1em;
    border-radius: 0;
}

    .cart-item-menu ul {
        list-style: none;
        padding-left: 0;
        max-height: 480px;
        overflow-y: auto;
    }

        .cart-item-menu ul > li {
            border-bottom: 1px solid #ddd;
            display: flex;
            flex-flow: row wrap;
            position: relative;
            line-height: 1.5em;
            padding-top: .5em;
            padding-bottom: .5em;
        }

            .cart-item-menu ul > li .image-wrapper {
                flex: 0 75px;
                padding: .5em;
            }

            .cart-item-menu ul > li .description-wrapper {
                flex: 1;
                padding: .5em;
                font-size: 0.9em;
                line-height: 1.5em;
            }

                .cart-item-menu ul > li .description-wrapper .name {
                }

                .cart-item-menu ul > li .description-wrapper .quantity {
                    width: 60px;
                    margin-top: 1em;
                }

    .cart-item-menu .footer {
        padding-top: 1em;
    }

        .cart-item-menu .footer a {
            line-height: 2em;
        }

.price {
    font-size: 1.2em;
    color: #fd2e5c;
    font-weight: 700;
}

.top-right {
    position: absolute;
    top: 1em;
    right: 1.5em;
}

footer {
    padding: 1em 0em;
    color: #666;
    font-size: .85em;
}

#banners {
    width: 100%;
    position: relative;
}

    #banners img {
        width: 100%;
    }

.product-card {
    border: 1px solid #ddd;
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    height: 220px;
    align-items: center;
}

    .product-card .warning-message {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    /* .product-card:hover, .product-card:focus, .product-card:active {
        border-color: #bbb;
    } */

    .product-card .description-block {
        display: flex;
        flex-flow: column wrap;
        height: 100%;
    }

    .product-card .img-placeholder {
        /*margin: 1em;*/
        margin-left: .5em;
        margin-right: .5em;
    }

        .product-card .img-placeholder img {
            width: 100%;
            max-height: 185px;
        }


    .product-card .description-block {
        /*margin: 1em;*/
        margin-left: .5em;
        margin-right: .5em;
    }

    .product-card .name-block,
    .product-card .price-block,
    .product-card .specification-block {
        display: block;
    }

    .product-card .name-block {
        /*margin-top: 2em;*/
    }

        .product-card .name-block .name {
            font-size: 1.1em;
            font-weight: 700;
            margin-top: 1em;
        }

    .product-card .price-block {
        margin-bottom: .5em;
    }

        .product-card .price-block .original-price {
            text-decoration: line-through;
            display: block;
            font-size: .65em;
            font-weight: 700;
        }

        .product-card .price-block .price {
            color: #fd2e5c;
            font-size: 1.2em;
            font-weight: 700;
        }

    .product-card .specification-block {
        color: #999;
        font-size: 0.85em;
    }

        .product-card .specification-block .table-specification {
            margin: 0;
        }

            .product-card .specification-block .table-specification tr td {
                border: none;
            }

    .product-card .action-button-block {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 50%;
        margin-left: 50%;
        transform: translate(-50%, -50%);
    }

    .product-card .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0);
    }

    .product-card .actions {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        /*transform: translateY(100%);*/
    }

        .product-card .actions .btn {
            transform: scale(0, 0);
        }

        .product-card .actions .btn {
            margin-left: 0.5em;
            margin-right: 0.5em;
            width: 5em;
            height: 5em;
            box-shadow: 0 1px 4px #ddd;
        }

        .product-card .actions i.fa {
            font-size: 2em;
        }

    .product-card:hover {
    }

        .product-card:hover .overlay {
            background-color: rgba(255, 255, 255, 0.8);
            animation: all ease-in 1s;
        }

        .product-card:hover .actions {
            transform: translateY(0);
        }

            .product-card:hover .actions .btn {
                transform: scale(1, 1);
            }

    .product-card .overlay-dark {
        display: none;
    }

    .product-card.unavailable {
        border-color: transparent;
        cursor: default;
    }

        .product-card.unavailable .overlay-dark {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(0,0,0,0.7);
            color: #fff;
            font-weight: 700;
        }

        .product-card.unavailable .actions,
        .product-card.unavailable .overlay {
            display: none;
        }


.product-card-compact {
    text-align: center;
    border: 1px solid #eee;
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

    /*.product-card-compact:hover {
        border-bottom: 1px solid transparent;
        box-shadow: 0px 2px 2px #ddd;
    }*/

    .product-card-compact .img-placeholder,
    .product-card-compact .description-block,
    .product-card-compact .price-block {
        display: block;
        padding: 1em;
        width: 100%;
    }

    .product-card-compact .img-placeholder {
        border-bottom: 1px solid #eee;
        height: 320px;
    }

        .product-card-compact .img-placeholder img {
            height: 100%;
        }

    .product-card-compact .description-block .name {
        font-weight: 700;
    }

    .product-card-compact .price-block .price {
        font-size: 1.2em;
        font-weight: 700;
        color: #fd2e5c;
    }

    .product-card-compact .action-button-block {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 50%;
        margin-left: 50%;
        transform: translate(-50%, -50%);
    }

    .product-card-compact .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0);
    }

    .product-card-compact .actions {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(100%);
    }

        .product-card-compact .actions .btn {
            transform: scale(0, 0);
        }

        .product-card-compact .actions .btn {
            margin-left: 0.5em;
            margin-right: 0.5em;
            width: 5em;
            height: 5em;
            box-shadow: 0 1px 4px #ddd;
        }

        .product-card-compact .actions i.fa {
            font-size: 2em;
        }


    .product-card-compact.open {
        /*box-shadow: 0 0 5px #ddd;*/
    }

        .product-card-compact.open .overlay {
            background-color: rgba(255, 255, 255, 0.8);
            animation: all ease-in 1s;
        }

        .product-card-compact.open .actions {
            transform: translateY(0);
        }

            .product-card-compact.open .actions .btn {
                transform: scale(1, 1);
            }


section.bg-grey {
    background-color: #f3f3f3;
    padding-top: 1em;
    padding-bottom: 1em;
}

.payment-grey-box {
    background-color: #f3f3f3;
    padding: 1em;
    display: flex;
    align-items: center;
}

    .payment-grey-box .half-left {
        flex: 0 50%;
    }

.sub-menu-list {
    margin-top: 2em;
    margin-bottom: 1em;
}

    .sub-menu-list > a {
        padding: .5em 1em;
        margin: auto 1em;
    }

        .sub-menu-list > a.active,
        .sub-menu-list > a:active,
        .sub-menu-list > a:focus {
            background: #05D0A1;
            border-radius: 5px;
            color: #fff;
        }


.bg-grey {
    background-color: #f3f3f3;
}


/* AUTH */
body.auth-page {
    background: #05D0A1;
}

    body.auth-page .auth-box {
        border: none;
        border-radius: 4px;
        width: 350px;
        margin-top: 150px;
        margin-left: 50%;
        transform: translateX(-50%);
        padding: 30px 40px 40px 40px;
        background: #fff;
        color: #666;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    }

    body.auth-page .form-control {
        background: #eee;
        color: #222;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

        body.auth-page .form-control::placeholder {
            color: #ccc;
        }

    body.auth-page .btn-primary {
        border-color: #00a67f;
    }


.action-link {
}

    .action-link:hover > .fa {
        transform: rotate(180deg);
    }

.featured-products {
    white-space: nowrap;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    padding-left: 240px;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

    .featured-products:active {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
    }

    .featured-products::-webkit-scrollbar {
        display: none;
    }

    .featured-products .item {
        flex: none;
        width: 240px;
        height: 320px;
        border: 1px solid #ddd;
        background: #fff;
        padding: 20px;
        position: relative;
    }

        .featured-products .item:not(:first-child) {
            border-left: none;
        }

        .featured-products .item.header {
            background: #2a2a2a;
            color: #fff;
            position: absolute;
            transform: translateX(-100%);
            z-index: 999;
            border-color: #2a2a2a;
        }

            .featured-products .item.header h3 {
                line-height: 1.5em;
            }

            .featured-products .item.header a {
                color: rgba(255, 255, 255, 0.4);
            }

                .featured-products .item.header a:hover,
                .featured-products .item.header a:focus,
                .featured-products .item.header a:active {
                    color: rgba(255, 255, 255, 0.9);
                }

        .featured-products .item .image-holder {
            flex: 1 1 220px;
            display: flex;
            align-items: center;
        }

        .featured-products .item .action-button-block {
            position: absolute;
            top: 0;
            left: 0;
            margin-top: 50%;
            margin-left: 50%;
            transform: translate(-50%, -50%);
        }

        .featured-products .item .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0);
        }

        .featured-products .item .actions {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            /*transform: translateY(100%);*/
        }

            .featured-products .item .actions .btn {
                transform: scale(0, 0);
            }

            .featured-products .item .actions .btn {
                margin-left: 0.5em;
                margin-right: 0.5em;
                width: 5em;
                height: 5em;
                box-shadow: 0 1px 4px #ddd;
            }

            .featured-products .item .actions i.fa {
                font-size: 2em;
            }

        .featured-products .item:hover {
        }

            .featured-products .item:hover .overlay {
                background-color: rgba(255, 255, 255, 0.8);
                animation: all ease-in 1s;
            }

            .featured-products .item:hover .actions {
                transform: translateY(0);
            }

                .featured-products .item:hover .actions .btn {
                    transform: scale(1, 1);
                }

        .featured-products .item .overlay-dark {
            display: none;
        }

        .featured-products .item.unavailable {
            border-color: transparent;
            cursor: default;
        }

            .featured-products .item.unavailable .overlay-dark {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background: rgba(0,0,0,0.7);
                color: #fff;
                font-weight: 700;
            }

            .featured-products .item.unavailable .actions,
            .featured-products .item.unavailable .overlay {
                display: none;
            }

.display-flex {
    display: flex;
}

    .display-flex.column {
        flex-direction: column;
    }

    .display-flex.align-center {
        align-items: center;
        justify-content: center;
    }

.full-height {
    height: 100%;
}

.position-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
