<p class="login-box-msg">Sign in to start your session</p>

<div class="alert alert-danger" ng-if="vm.message">
    <h4><i class="icon fa fa-ban"> Alert!</i></h4>
    {{ vm.message }}
</div>

<form ng-submit="vm.login(vm.user)" method="post">
    <div class="form-group has-feedback">
        <input type="text"
            ng-model="vm.user.email"
            class="form-control"
            placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
        <input type="password"
            ng-model="vm.user.password"
            class="form-control"
            placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>

    <div class="row">
        <div class="col-xs-4 col-xs-offset-8">
            <button type="submit"
                class="btn btn-primary btn-block btn-flat">
                Sign In
            </button>
        </div>
    </div>
</form>

<overlay-loader ng-if="vm.loading"></overlay-loader>