<div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-borderless">
                <colgroup>
                    <col style="width: 1cm;" />
                    <col />
                    <col style="width: 3cm;" />
                    <col style="width: 3cm;" />
                </colgroup>
                <tr>
                    <th class="text-center">Jumlah</th>
                    <th>Produk</th>
                    <th class="text-right">Harga</th>
                    <th class="text-right">Subtotal</th>
                </tr>
                <tr ng-repeat="detail in order.OrderDetails" ng-if="detail.Quantity > 0">
                    <td class="text-center">{{ detail.Quantity }}</td>
                    <td>{{ detail.Product.Name }}</td>
                    <td class="text-right">{{ detail.Price | currency: 'Rp. ' }}</td>
                    <td class="text-right">{{ detail.Price * detail.Quantity | currency: 'Rp. ': 0 }}</td>
                </tr>
                <tr>
                    <td class="text-right border-top-1" colspan="3">Total Belanja</td>
                    <td class="text-right border-top-1">{{ order.TotalPrice | currency: 'Rp. ': 0 }}</td>
                </tr>
                <tr>
                    <td class="text-right" colspan="3">Biaya Pengiriman</td>
                    <td class="text-right">{{ order.TotalShippingFee | currency: 'Rp. ': 0 }}</td>
                </tr>
                <tr>
                    <td class="text-right" colspan="3">Pembayaran</td>
                    <td class="text-right">
                        {{ orderPayment.PaidAmount | currency: 'Rp. ': 0 }}
                    </td>
                </tr>
                <!-- <tr>
                    <td class="text-right" colspan="3">Kembali</td>
                    <td class="text-right">
                        {{ orderPayment.PaidAmount - (order.TotalPrice + order.TotalShippingFee) | currency: 'Rp. ': 0 }}
                    </td>
                </tr> -->
            </table>
        </div>
    </div>
    <div class="row" style="margin-top: 3cm;">
        <div class="col-xs-6">
            <div ng-if="order.SelfPickUp">
                <b>METODE PEMBAYARAN</b>
                <div class="m-y-5">
                    <span>FULL PAYMENT</span> |
                    <span class="text-strikethrough">DOWN PAYMENT</span>
                </div>
                <b>STATUS PEMBAYARAN: LUNAS</b>
                <div class="m-y-5">
                    PIN: {{ order.PIN }}
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <ul class="list-inline" style="margin-top: 1.5cm">
                <li>
                    <i style="border-top: 1px dotted #aaa; padding-top: .5em;">
                        Tanda Tangan/Stamp Outlet
                    </i>
                </li>
                <li>
                    <i style="border-top: 1px dotted #aaa; padding-top: .5em;">
                        Tanda Tangan Penerima
                    </i>
                </li>
            </ul>
        </div>
    </div>
</div>