<div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-borderless">
                <colgroup>
                    <col style="width: 1cm;" />
                    <col />
                    <col style="width: 3cm;" />
                    <col style="width: 3cm;" />
                    <col style="width: 1.5cm;" />
                    <col style="width: 3cm;" />
                </colgroup>
                <tr>
                    <th class="text-center">Jumlah</th>
                    <th>Produk</th>
                    <th class="text-right">Harga</th>
                    <th class="text-right">Subtotal</th>
                    <th class="text-center">DP</th>
                    <th class="text-right">DP Subtotal</th>
                </tr>
                <tr ng-repeat="detail in order.OrderDetails" ng-if="detail.Quantity > 0">
                    <td class="text-center">{{ detail.Quantity }}</td>
                    <td>{{ detail.Product.Name }}</td>
                    <td class="text-right">{{ detail.Price | currency: 'Rp. ' }}</td>
                    <td class="text-right">{{ detail.Price * detail.Quantity | currency: 'Rp. ': 0 }}</td>
                    <td class="text-center bg-grey">{{ detail.Product.DP }} %</td>
                    <td class="text-right bg-grey">{{ detail.DPNominal | currency: 'Rp. ': 0 }}</td>
                </tr>
                <tr>
                    <td class="text-right border-top-1" colspan="3">Total Belanja</td>
                    <td class="text-right border-top-1">{{ order.TotalPrice + order.TotalShippingFee | currency: 'Rp. ': 0 }}</td>
                    <td class="bg-grey border-top-1"></td>
                    <td class="bg-grey border-top-1"></td>
                </tr>
                <tr>
                    <td class="text-right" colspan="3">Total DP</td>
                    <td class="text-right"></td>
                    <td class="bg-grey"></td>
                    <td class="text-right bg-grey">{{ order.DP + order.TotalShippingFee | currency: 'Rp. ': 0 }}</td>
                </tr>
                <tr>
                    <td class="text-right" colspan="3">Pembayaran</td>
                    <td class="text-right"></td>
                    <td class="bg-grey"></td>
                    <td class="text-right bg-grey">{{ orderPayment.PaidAmount | currency: 'Rp. ': 0 }}</td>
                </tr>
                <tr>
                    <td class="text-right" colspan="3">Kembali</td>
                    <td class="text-right"></td>
                    <td class="bg-grey"></td>
                    <td class="text-right bg-grey">
                        {{ orderPayment.PaidAmount - (order.DP + order.TotalShippingFee) | currency: 'Rp. ': 0 }}
                    </td>
                </tr>

                <tr>
                    <td class="text-right" colspan="3"><b>Sisa yang harus dibayarkan</b></td>
                    <td class="text-right"><b>{{ (order.TotalPrice + order.TotalShippingFee) - (order.DP + order.TotalShippingFee) | currency: 'Rp. ': 0 }}</b></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row" style="margin-top: 3cm;">
        <div class="col-xs-6">
            <b>METODE PEMBAYARAN</b>
            <div class="m-y-5">
                <span class="text-strikethrough">FULL PAYMENT</span> | <span>DOWN PAYMENT</span>
            </div>
            <small>* sisa pembayaran dilakukan saat barang sampai outlet/dikirimkan ke pemesan</small>
            <div class="m-y-5">
                PIN: {{ order.PIN }}
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <ul class="list-inline" style="margin-top: 1.5cm">
                <li>
                    <i style="border-top: 1px dotted #aaa; padding-top: .5em;">
                        Tanda Tangan/Stamp Outlet
                    </i>
                </li>
                <li>
                    <i style="border-top: 1px dotted #aaa; padding-top: .5em;">
                        Tanda Tangan Penerima
                    </i>
                </li>
            </ul>
        </div>
    </div>
</div>