<div>
    <loading-indicator ng-if="vm.loadingGetProduct"></loading-indicator>

    <div class="modal-body" ng-if="!vm.loadingGetProduct">
        <div class="row">
            <div class="col-sm-4">
                <image-api src="vm.product.Image" name="vm.product.Name" class="img-responsive" style="margin: auto;">
                </image-api>
            </div>

            <div class="col-sm-8">
                <h3>{{ vm.product.Name }}</h3>
                <h4 class="price">{{ vm.product.Price | currency: 'Rp. ': 0 }}</h4>
                <button class="btn btn-primary" type="button" ng-click="vm.addToCart(vm.product)">Tambahkan ke keranjang</button>
                <hr />
                <h4>DESKRIPSI</h4>
                <p class="text-muted small">{{ vm.product.Description }}</p>
                <hr />
                <h4>SPESIFIKASI</h4>
                <form action="" class="form-horizontal">
                    <div class="form-group no-margin" ng-repeat="specification in vm.product.ArrayedSpecification">
                        <label class="control-label col-sm-3">
                            {{ specification.key }}
                        </label>
                        <div class="col-sm-9">
                            <p class="form-control-static">
                                {{ specification.value }}
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>