<section class="bg-grey">

    <form ng-submit="vm.searchProducts(vm.productQuery)">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <select class="form-control"
                            ng-model="vm.productQuery.orderBy"
                            ng-change="vm.getProducts(vm.productQuery)">
                        <option value="+Price">Price Asc</option>
                        <option value="-Price">Price Desc</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <select class="form-control"
                            ng-model="vm.productQuery.orderBy"
                            ng-change="vm.getProducts(vm.productQuery)">
                        <option value="+Price">Price Asc</option>
                        <option value="-Price">Price Desc</option>
                    </select>
                </div>
                <div class="col-sm-4 pull-right">
                    <input class="form-control" type="text" placeholder="Search in this category" ng-model="vm.productQuery.keyword" />
                </div>
            </div>
        </div>
    </form>
</section>

<div class="container">
    <h3 class="section-title text-center">APA YA</h3>

    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12" ng-if="vm.products.length == 0 && !vm.loadingProducts">
                    No results.
                </div>

                <div class="col-xs-6 col-sm-4"
                     ng-repeat="product in vm.products"
                     ng-click="product.detailOpened = !product.detailOpened">

                    <div class="product-card"
                         ng-class="{ 'open': product.detailOpened }">

                        <div class="flex-1">
                            <div class="img-placeholder">
                                <img ng-src="{{ product.ImageUrl || 'statics/images/phone-placeholder.png' }}"
                                     alt="{{ product.Name }}"
                                     title="{{ product.Name }}" />
                            </div>
                        </div>
                        <div class="flex-1">
                            <div class="description-block">
                                <div class="flex-1">
                                    <div class="name-block">
                                        <span class="name">
                                            {{ product.Name }}
                                        </span>
                                    </div>
                                </div>
                                <div class="flex-1">
                                    <div class="price-block">
                                        <span class="original-price">
                                            Rp. 3.500.000
                                        </span>
                                        <span class="price">
                                            {{ product.Price | currency: 'Rp. ': 0 }}
                                        </span>
                                    </div>
                                    <!--<div class="specification-block">
                                        {{ product.Specification | json }}
                                    </div>-->
                                </div>
                            </div>
                        </div>

                        <div class="overlay">
                        </div>

                        <div class="actions">
                            <button class="btn btn-default btn-circle"
                                    ng-click="vm.openDetail(product); $event.stopPropagation()">
                                <i class="fa fa-search"></i>
                            </button>
                            <button class="btn btn-primary btn-circle"
                                    ng-click="vm.addOrderItem(product);">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 text-center" ng-if="vm.loadingProducts">
                    <i class="fa fa-spinner fa-spin fa-2x"></i>
                </div>

                <div class="col-sm-12 text-center">
                    <button ng-click="vm.nextPage(vm.productQuery)">Next</button>
                </div>
            </div>

        </div>
    </div>
</div>