<section class="p-y-15 bg-grey">
    <form ng-submit="vm.searchProducts(vm.productQuery)">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-horizontal">
                        <label class="control-label col-sm-4">
                            Urutkan:
                        </label>
                        <div class="col-sm-8">
                            <select class="form-control" ng-model="vm.productQuery.orderBy">
                                <option value="+Name">Nama: A-Z</option>
                                <option value="-Name">Nama: Z-A</option>
                                <option value="+Price">Harga: Rendah ke Tinggi</option>
                                <option value="-Price">Harga: Tinggi ke Rendah</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="col-sm-8">
                    <div class="form-horizontal">
                        <div class="row">
                            <label class="control-label col-sm-4">
                                Filter:
                            </label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="vm.productQuery.priceRange" ng-options="option as option.display for option in vm.priceRangeOptions"
                                    ng-change="vm.filterPrice(vm.productQuery)">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

<div class="container">
    <div class="row">
        <div class="col-sm-12 m-t-15">
            <div class="row">
                <div class="col-sm-12 text-center" ng-if="(vm.products.length == 0 && !vm.loadingProducts) && !vm.isError">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <i class="fa fa-info-circle fa-4x text-warning"></i>
                            <div ng-if="vm.productQuery.keyword">
                                <h4>Kami tidak menemukan hasil pencarian untuk "
                                    <i>{{ vm.productQuery.keyword }}</i>" dalam kategori
                                    ini.</h4>
                                <p class="small">Tolong periksa pengejaan kata, atau hubungi staff
                                    kami untuk informasi lebih lanjut.</p>
                            </div>

                            <div ng-if="!vm.productQuery.keyword">
                                <h4>Kami tidak menemukan hasil pencarian dalam kategori
                                    ini.</h4>
                                <p class="small">Silahkan hubungi staff kami untuk informasi lebih
                                    lanjut.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4" ng-repeat="product in vm.products | orderBy: vm.productQuery.orderBy">

                    <product-item-card product="product"
                        add-order-item="vm.addOrderItem(product)"
                        open-detail-item="vm.openDetailItem(product)"
                        is-messenger-ready="vm.$settings.firebaseReady"
                        open-messenger="vm.openMessenger(product)"
                        is-staff="vm.isStaff">
                    </product-item-card>

                </div>

                <div class="col-sm-12 text-center" ng-if="vm.productQuery.count > vm.productQuery.page * vm.productQuery.limit">
                    <button class="btn btn-default" ng-click="vm.nextPage(vm.productQuery)">
                        selanjutnya
                        <!-- <i class="fa fa-circle-o-notch fa-spin"
                           ng-if="vm.loadingProducts">
                        </i> -->
                    </button>
                </div>
            </div>
            <loading-indicator ng-if="vm.loadingProducts"></loading-indicator>

            <reload-indicator ng-if="vm.isError && !vm.loadingProducts" action="vm.getProducts(vm.productQuery)">
            </reload-indicator>
        </div>
    </div>
</div>