<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">
                    Informasi Pembeli
                </h5>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label">Nama</label>
                    <p>{{ order.Name }}</p>
                </div>
                <div class="form-group">
                    <label class="control-label">Telepon</label>
                    <p>{{ order.Phone }}</p>
                </div>
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <p>{{ order.Email || '-' }}</p>
                </div>
                <div class="form-group">
                    <label class="control-label">No. Identitas <small class="text-muted">(KTP/SIM)</small></label>
                    <p>{{ order.IdCard }}</p>
                </div>
                <div class="form-group">
                    <label class="control-label">Alamat</label><br />
                    <label ng-if="order.SelfPickUp">{{ order.KioskCode }}</label>
                    <p style="white-space: pre-wrap;">{{ order.Address }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">
                    Histori Pembayaran

                    <!--<a class="pull-right btn-link"
                       ui-sref="app.order-payment({ 'code': order.Code })"
                       ng-if="!order.IsFullyPaid">
                        Bayar
                    </a>-->
                    <label class="pull-right" ng-class="{ 'text-success': order.IsFullyPaid, 'text-warning': !order.IsFullyPaid }">
                        <i class="fa" ng-class="{ 'fa-check': order.IsFullyPaid, 'fa-exclamation-triangle': !order.IsFullyPaid }"></i>
                        <span ng-if="!order.IsFullyPaid">BELUM</span> LUNAS
                    </label>

                </h5>
            </div>

            <div class="panel-body" style="max-height: 300px; overflow: auto; ">
                <p class="m-15" ng-if="order.OrderPayments.length <= 0">
                    <i class="fa fa-exclamation-triangle"></i> Belum ada transaksi pembayaran
                </p>

                <table class="table table-striped no-margin">
                    <tr ng-repeat="payment in order.OrderPayments | orderBy: '-TransactionDate'">
                        <td class="p-15">
                            <a class="close"
                               title="Print"
                               ui-sref="blank.invoice({ code: order.Code, paymentId: payment.id })"
                               target="_blank">
                                <i class="fa fa-print"></i>
                            </a>

                            <div class="form-group">
                                <label class="control-label">Tanggal</label>
                                <p>{{ payment.TransactionDate | date: 'dd MMM yyyy - HH:mm:ss' }}</p>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Metode Pembayaran</label>
                                <p>{{ payment.PaymentType }}</p>
                            </div>
                            <!--<div class="form-group">
                                <label class="control-label">Biaya / Jumlah yang dibayarkan</label>
                                <p>
                                    {{ payment.Amount | currency: 'Rp. ': 0 }} / {{ payment.PaidAmount | currency: 'Rp. ': 0 }}
                                </p>
                            </div>-->

                            <div class="form-group">
                                <label class="control-label">Jumlah yang dibayarkan</label>
                                <p>
                                    {{ payment.PaidAmount | currency: 'Rp. ': 0 }}
                                </p>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">
                    Informasi Barang
                </h5>
            </div>
            <div class="panel-body">
                <table class="table table-striped no-margin">
                    <thead>
                        <tr>
                            <th class="col-sm-2">&nbsp;</th>
                            <th class="col-sm-4">Nama Produk</th>
                            <th class="col-sm-3 text-center">Status</th>
                            <th class="col-sm-3 text-right">Total Harga</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="detail in order.OrderDetails" ng-if="detail.Quantity > 0">
                        <tr ng-click="detail.toggleTrack = !detail.toggleTrack" class="cursor-pointer">
                            <td class="text-center">
                                <span class="fa" ng-class="{ 'fa-angle-down': !detail.toggleTrack, 'fa-angle-up': detail.toggleTrack }"></span>
                                <img style="width: 90px;" src="{{ detail.Product.Image || 'statics/images/phone-placeholder.png' }}"
                                     alt="{{ detail.Product.Name }}"
                                     title="{{ detail.Product.Name }}" />
                            </td>
                            <td>
                                {{ detail.Product.Name }}
                                <p class="small">{{ detail.Quantity }} pcs x {{ detail.Price | currency: 'Rp. ': 0 }}</p>
                            </td>
                            <td class="text-center">
                                <small>{{ detail.Status }}</small>
                            </td>
                            <td class="text-right">
                                {{ detail.Price * detail.Quantity | currency: 'Rp. ' : 0 }}
                            </td>
                        </tr>
                        <tr ng-show="detail.toggleTrack">
                            <td colspan="4">
                                <h6 class="section-title">Tracks</h6>
                                <ul class="list-unstyled">
                                    <li ng-repeat="track in detail.OrderTracks">
                                        <span class="small">
                                            {{ track.TrackDate | date: 'dd MMM yyyy - HH:mm:ss' }} - {{ track.Status | humanify }}
                                        </span>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3" class="text-right">
                                Total Harga
                            </td>
                            <td class="text-right">
                                {{ order.TotalPrice | currency: 'Rp. ': 0 }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="text-right">
                                Biaya Pengiriman
                            </td>
                            <td class="text-right">
                                <b class="price" ng-if="vm.order.SelfPickUp">GRATIS</b>

                                <span ng-if="!vm.order.SelfPickUp">
                                    {{ order.TotalShippingFee | currency: 'Rp ': 0 }}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="3" class="text-right">
                                <p>Total Belanja</p>
                            </th>
                            <td class="text-right">
                                <span class="price">{{ order.TotalPrice + order.TotalShippingFee | currency: 'Rp. ': 0 }}</span>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>
</div>