<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="m-t-10">
                <a href="javascript:;" class="btn-link" back-button>
                    &larr; Kembali
                </a>
            </div>
        </div>
        <div class="col-sm-12">
            <h3 class="section-title">
                KONFIRMASI PEMESANAN
            </h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-sm-2">&nbsp;</th>
                        <th class="col-sm-5">Nama Produk</th>
                        <th class="col-sm-2">Harga</th>
                        <th class="col-sm-1 text-center">Jumlah</th>
                        <th class="col-sm-2 text-right">Total Harga</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.order.items">
                        <td class="text-center">
                            <img style="width: 90px;" src="{{ item.image || 'statics/images/phone-placeholder.png' }}"
                                 alt="{{ item.name }}"
                                 title="{{ item.name }}" />
                        </td>
                        <td>
                            {{ item.name }}
                            <p class="text-muted small">
                                {{ item.description }}
                            </p>
                        </td>
                        <td>
                            {{ item.price | currency: 'Rp. ' : 0 }}
                            <div ng-if="vm.shippingAddress.toKiosk && item.dp > 0">
                                <span class="label label-info">DP {{ item.dp }} %</span>
                            </div>
                        </td>
                        <td class="text-center">
                            {{ item.quantity }}
                        </td>
                        <td class="text-right">
                            <span class="price">{{ item.price * item.quantity | currency: 'Rp. ' : 0 }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title">
                        Informasi penerima
                    </h5>
                </div>
                <div class="panel-body">
                    <table class="table no-margin">
                        <tr>
                            <td class="col-sm-3">Nama</td>
                            <td>{{ vm.order.name }}</td>
                        </tr>
                        <tr>
                            <td>Alamat</td>
                            <td>
                                <b ng-if="vm.order.toKiosk">
                                    {{ vm.order.kioskCode }}
                                </b>
                                <p class="pre">{{ vm.order.address }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>Telepon</td>
                            <td>{{ vm.order.phone }}</td>
                        </tr>
                        <tr>
                            <td>E-mail</td>
                            <td>{{ vm.order.email }}</td>
                        </tr>
                        <tr>
                            <td>No. Identitas (KTP / SIM)</td>
                            <td>{{ vm.order.idCard }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title">
                        Biaya
                    </h5>
                </div>
                <div class="panel-body">
                    <table class="table no-margin">
                        <tr>
                            <td>Total Harga</td>
                            <td class="text-right">
                                {{ vm.order.items | totalPrice | currency: 'Rp. ' : 0 }}
                            </td>
                        </tr>
                        <tr>
                            <td>Biaya Pengiriman</td>
                            <td class="text-right">

                                <b class="price" ng-if="vm.order.toKiosk">GRATIS</b>
                                <span ng-if="!vm.order.toKiosk">Tanya staff</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Total Belanja</b>
                            </td>
                            <td class="text-right">
                                <span class="price">{{ vm.order.items | totalPrice | currency: 'Rp. ' : 0 }}</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <button class="btn btn-primary btn-block"
                    ng-disabled="vm.loadingCreateDraft"
                    ng-click="vm.submitOrder(vm.order)">
                SUBMIT
                <i class="fa fa-circle-o-notch pull-right" ng-if="vm.loadingCreateDraft"></i>
            </button>

            <button class="btn btn-danger btn-block"
                    ng-click="vm.cancelOrder(vm.order)">
                BATAL
            </button>
        </div>
    </div>
</div>