<div>
    <loading-indicator ng-if="vm.loadingGetOrderByCode"></loading-indicator>

    <no-data ng-if="!vm.loadingGetOrderByCode && !vm.order"></no-data>

    <div ng-if="!vm.loadingGetOrderByCode && vm.order">
        <div class="modal-header">
            <h3 class="modal-title section-title">
                Order #{{ vm.order.Code }} {{vm.order.PIN}}
                <label class="label label-success pull-right" ng-if="vm.order.IsFullyPaid">
                    LUNAS
                </label>

                <label class="label label-warning pull-right" ng-if="!vm.order.IsFullyPaid">
                    BELUM LUNAS
                </label>
            </h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                Informasi Pembeli
                            </h5>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label">Nama</label>
                                <p>{{ vm.order.Name }}</p>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Telepon</label>
                                <p>{{ vm.order.Phone }}</p>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Email</label>
                                <p>{{ vm.order.Email || '-' }}</p>
                            </div>
                            <div class="form-group">
                                <label class="control-label">No. Identitas <small class="text-muted">(KTP/SIM)</small></label>
                                <p>{{ vm.order.IdCard }}</p>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Alamat</label><br />
                                <label ng-if="vm.order.SelfPickUp">{{ vm.order.KioskCode }}</label>
                                <p style="white-space: pre-wrap;">{{ vm.order.Address }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                Histori Pembayaran

                                <!--<a class="pull-right btn-link"
                                   ui-sref="app.order-payment({ 'code': vm.order.Code })"
                                   ng-if="!vm.order.IsFullyPaid">
                                    Bayar
                                </a>-->
                            </h5>
                        </div>

                        <div class="panel-body" style="max-height: 350px; overflow: auto;">
                            <p class="no-margin" ng-if="vm.order.OrderPayments.length <= 0">
                                <i class="fa fa-exclamation-triangle"></i> Belum ada transaksi pembayaran
                            </p>

                            <table class="table table-striped no-margin">
                                <tr ng-repeat="payment in vm.order.OrderPayments | orderBy: '-TransactionDate'">
                                    <td>
                                        <a class="close"
                                           title="Print"
                                           ui-sref="blank.invoice({ code: vm.order.Code, paymentId: payment.id })"
                                           target="_blank">
                                            <i class="fa fa-print"></i>
                                        </a>

                                        <div class="form-group">
                                            <label class="control-label">Tanggal</label>
                                            <p>{{ payment.TransactionDate | date: 'dd MMM yyyy - HH:mm:ss' }}</p>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Metode Pembayaran</label>
                                            <p>{{ payment.PaymentType }}</p>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Biaya / Jumlah yang dibayarkan</label>
                                            <p>
                                                {{ payment.Amount | currency: 'Rp. ': 0 }} / {{ payment.PaidAmount | currency: 'Rp. ': 0 }}
                                            </p>
                                        </div>

                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                Informasi Barang
                            </h5>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped no-margin">
                                <thead>
                                    <tr>
                                        <th class="col-sm-2">&nbsp;</th>
                                        <th class="col-sm-5">Nama Produk</th>
                                        <th class="col-sm-2 text-center">Status</th>
                                        <th class="col-sm-3 text-right">Total Harga</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="detail in vm.order.OrderDetails">
                                    <tr>
                                        <td class="text-center">
                                            <img style="width: 90px;" src="{{ detail.Product.Image || 'statics/images/phone-placeholder.png' }}"
                                                 alt="{{ detail.Product.Name }}"
                                                 title="{{ detail.Product.Name }}" />
                                        </td>
                                        <td>
                                            {{ detail.Product.Name }}
                                            <p class="small">{{ detail.Quantity }} pcs x {{ detail.Price | currency: 'Rp. ': 0 }}</p>
                                        </td>
                                        <td class="text-center">
                                            {{ detail.Status }}
                                        </td>
                                        <td class="text-right">
                                            {{ detail.Price * detail.Quantity | currency: 'Rp. ' : 0 }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            <h6 class="section-title">Tracks</h6>
                                            <ul class="list-unstyled">
                                                <li ng-repeat="track in detail.OrderTracks">
                                                    <span class="small">
                                                        {{ track.TrackDate | date: 'dd MMM yyyy' }} - {{ track.Status }}
                                                    </span>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="3" class="text-right">
                                            Total Harga
                                        </td>
                                        <td class="text-right">
                                            {{ vm.order.TotalPrice | currency: 'Rp. ': 0 }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="text-right">
                                            Biaya Pengiriman
                                        </td>
                                        <td class="text-right">
                                            {{ vm.order.TotalShippingFee | currency: 'Rp. ': 0 }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th colspan="3" class="text-right">
                                            Total Belanja
                                        </th>
                                        <td class="text-right">
                                            <span class="price">{{ vm.order.TotalPrice + vm.order.TotalShippingFee | currency: 'Rp. ': 0 }}</span>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>