<div class="container">
    <h3 class="section-title">RIWAYAT PEMESANAN</h3>

    <div class="row">
        <div class="col-sm-4 col-sm-offset-8">
            <div class="form-group has-feedback">
                <input type="text" class="form-control"
                       placeholder="Cari pesanan"
                       ng-model="vm.orderQuery.keyword"
                       ng-change="vm.orderQuery.page = 1; vm.changePage()"
                       ng-model-options="{ debounce: 500 }" />
                <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
            </div>
        </div>
    </div>

    <loading-indicator ng-if="vm.loadingGetOrders"></loading-indicator>

    <no-data ng-if="!vm.loadingGetOrders && vm.orders.length == 0"></no-data>

    <div class="row" ng-if="!vm.loadingGetOrders && vm.orders.length > 0">
        <div class="col-sm-12">
            <table class="table table-hover cursor-pointer table-bordered">
                <thead>
                    <tr>
                        <th class="col-sm-1 text-center">Kode</th>
                        <th class="col-sm-3 text-center">Pembeli</th>
                        <th class="col-sm-1 text-center">Jumlah Item</th>
                        <th class="col-sm-2 text-center">Total Harga</th>
                        <th class="col-sm-2 text-center">Tanggal</th>
                        <th class="col-sm-2 text-center">Status</th>
                        <th class="col-sm-1 text-center">Lunas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in vm.orders" ng-click="vm.openDetail(order.Code)">
                        <td class="text-center">{{ order.Code }}</td>
                        <td>
                            <span>
                                {{ order.Name }}
                                <br /><small class="text-muted"><i class="fa fa-phone"></i> {{ order.Phone }}</small>
                            </span>
                        </td>
                        <td class="text-center">{{ order.TotalQuantity }}</td>
                        <td class="text-center">
                            <span class="price">{{ order.TotalPrice + order.TotalShippingFee | currency: 'Rp. ':0 }}</span>
                        </td>
                        <td class="text-center">
                            {{ order.RequestDate | date: 'dd MMM yyyy - HH:mm' }}
                        </td>
                        <td class="text-center">
                            {{ order.Status }}
                        </td>
                        <td class="text-center">
                            <label class="label label-success" ng-if="order.IsFullyPaid">LUNAS</label>
                            <label class="label label-warning" ng-if="!order.IsFullyPaid">BELUM LUNAS</label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 text-center" ng-if="vm.orderQuery.count / vm.orderQuery.limit > 1">
            <ul uib-pagination
                boundary-links="true"
                boundary-link-numbers="true"
                total-items="vm.orderQuery.count"
                ng-model="vm.orderQuery.page"
                ng-change="vm.changePage()"
                max-size="4"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;"></ul>
        </div>
    </div>

</div>