<div class="container">
    <h3 class="section-title">
        LACAK PEMESANAN
    </h3>
    <div class="row">
        <form ng-submit="vm.getOrder(vm.code)">
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="control-label">Kode Pesanan</label>
                    <input type="text" class="form-control"
                           ng-model="vm.code">
                </div>
            </div>
            <div class="col-sm-2">
                <label class="control-label">&nbsp;</label>
                <button class="btn btn-primary form-control" type="submit">
                    <i class="fa fa-circle-o-notch fa-spin" ng-if="vm.loadingGetOrder"></i> CARI
                </button>
            </div>
        </form>
    </div>

    <order-detail order="vm.order" ng-if="vm.order"></order-detail>

</div>