<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="section-title">
                VERIFIKASI PEMESANAN
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <form ng-submit="vm.searchOrderByCodeAndPin(vm.code, vm.pin)">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label class="control-label">
                                Kode Pesanan
                            </label>
                            <input type="text" class="form-control" name="code" ng-model="vm.code" required autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">
                                PIN
                            </label>
                            <input type="text" class="form-control" paym name="pin" ng-model="vm.pin" required autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">&nbsp;</label>
                        <button type="submit" class="form-control btn btn-primary">
                            CEK ORDER

                            <i class="fa fa-circle-o-notch fa-spin pull-right" ng-if="vm.loadingGetOrder"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div ng-if="vm.order">

        <div class="row" ng-if="!(vm.orderPayment | isEmpty)">
            <div class="col-sm-5">
                <h4 class="section-title">RINCIAN PEMBAYARAN</h4>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default no-margin">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    TOTAL HARGA

                                    <span class="price pull-right">{{ vm.order.TotalPrice + vm.order.TotalShippingFee | currency: 'Rp. ': 0 }}</span>
                                </h4>
                            </div>
                            <div class="panel-body">
                                <table class="table no-margin">
                                    <thead>
                                        <tr>
                                            <th>Item</th>
                                            <th class="text-right">Nominal</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in vm.order.OrderDetails">
                                            <td>
                                                {{ item.Product.Name }}&nbsp;
                                                <label class="label label-warning" ng-if="item.Status == 'REJECTED' || item.Status == 'REFUNDED'" ng-bind="item.Status"></label>
                                            </td>
                                            <td class="text-right">
                                                <span>{{ item.Price | currency: 'Rp. ': 0 }}</span>
                                            </td>
                                        </tr>
                                        <!-- <tr>
                                                <td>
                                                    <label>Total DP</label>
                                                </td>
                                                <td class="text-right">
                                                    {{ vm.order.DP | currency: 'Rp. ' : 0 }}
                                                </td>
                                            </tr> -->
                                        <tr>
                                            <td>
                                                <label>Biaya Pengiriman</label>
                                            </td>
                                            <td class="text-right">
                                                <b ng-if="vm.order.SelfPickUp">GRATIS</b>

                                                <span ng-if="!vm.order.SelfPickUp">
                                                    {{ vm.order.TotalShippingFee | currency: 'Rp. ': 0 }}
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="panel-footer" ng-if="vm.order.DPAmount > 0">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="position-center">
                                            <span class="flex-1">DP yang dibayarkan</span>

                                            <div class="flex-1 text-right">
                                                <span>
                                                    {{ vm.order.DPAmount | currency: 'Rp. ': 0 }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer" ng-if="vm.order.Refund > 0">
                                <div class="row">
                                    <div class="col-sm-12 text-danger">
                                        <div class="position-center">
                                            <span class="flex-1">Refund</span>

                                            <div class="flex-1 text-right">
                                                <span>{{ vm.order.Refund | currency: 'Rp. ' : 0 }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer" ng-if="vm.orderPayment.Amount < 0">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="position-center">
                                            <span class="flex-1">Uang yang harus dikembalikan</span>

                                            <div class="flex-1 text-right">
                                                <span class="price">{{ vm.orderPayment.Amount * -1 | currency: 'Rp. ' : 0 }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer" ng-if="vm.orderPayment.Amount > 0">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="position-center">
                                            <span class="flex-1">Sisa yang harus dibayarkan</span>

                                            <div class="flex-1 text-right">
                                                <span class="price">{{ vm.orderPayment.Amount | currency: 'Rp. ' : 0 }}</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <button class="btn btn-primary btn-lg btn-block m-t-10" ng-disabled="vm.loadingPay" ng-click="vm.pay(vm.orderPayment)">
                    BAYAR
                    <i class="fa fa-spinner fa-spin" ng-if="vm.loadingPay"></i>
                </button>
            </div>
        </div>

        <div class="row" ng-if="vm.orderPayment | isEmpty">
            <div class="col-sm-12">
                <order-detail order="vm.order"></order-detail>
            </div>

            <div class="col-sm-12">
                <div class="panel panel-default">
                    <button class="btn btn-success btn-block btn-lg" ng-disabled="vm.loadingCompleteOrder" ng-show="vm.order.Status != 'COMPLETED' && vm.order.Status != 'REFUNDED'" ng-click="vm.completeOrder(vm.order)">
                        <i class="fa fa-circle-o-notch fa-spin" ng-if="vm.loadingCompleteOrder"></i> Selesaikan Order
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>