<div ng-app="app.messenger" ng-controller="MessengerController">
    <ul class="chatbox">
        <li ng-repeat="message in vm.messages">{{ message.from }}: {{ message.content }}</li>
    </ul>
    <form ng-submit="vm.addMessage()">
        <input type="text" ng-model="vm.message">
        <input type="submit" value="Add Message">
    </form>
</div>

<script>
    // Initialize the Firebase SDK
    var config = {
        apiKey: "AIzaSyD1NNv6unTGmyCb8ESkoA_Z3Qxh1qZIaTA",
        authDomain: "o2o-dev.firebaseapp.com",
        databaseURL: "https://o2o-dev.firebaseio.com",
        projectId: "o2o-dev",
        storageBucket: "o2o-dev.appspot.com",
        messagingSenderId: "174807202396"
    };
    firebase.initializeApp(config);

</script>